
    <div class="row">
            <div [class.col-md-4]="selectedSupplier" class="full-width">
                <table class="table table-hover">
                        <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Name</th>
                                  <th scope="col">Status</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let supplier of suppliers" (click)="onSupplier(supplier)" [class.selected]="supplier === selectedSupplier">
                                  <th scope="row">{{supplier.supplierId}}</th>
                                  <td>{{supplier.name}}</td>
                                  <td>{{supplier.status}}</td>
                                </tr>
                              </tbody>                   
                </table>
        </div>
        <div class="col-md-6 margins">
            <app-supplier-detail [supplier]="selectedSupplier"></app-supplier-detail>
        </div>
    </div>
    <!-- <div [class.col-md-4]="selectedSupplier" class="full-width"> -->