<div class="container">
<div class="toolBar">
  <button class="btn btn-orange" (click)="addSupplier()"><i class="fa fa-plus" ></i></button>
</div>
<div class="row">     
  <div class="mat-elevation-z8 full-width" [class.col-lg-6]="selectedSupplier">
      <mat-form-field class="margins">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
    <table class="tableFormat" mat-table [dataSource]="dataSource" >
  
      <ng-container matColumnDef="supplierId">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element" (click)="onSupplier(element)"> {{element.supplierId}} </td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> {{"supplier" | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSupplier(row)" [class.selected]="row === selectedSupplier"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  <div class="col-md-6">
    <app-supplier-detail [supplier]="selectedSupplier" (supplierUpdated)="updateSupplier($event)" *ngIf="selectedSupplier"></app-supplier-detail>
  </div>
</div>
</div>