.selected {
    background-color: #2FA4E7 !important;
    color: white;
  }

  table {
      margin-left: 15px;
        width: 100%;
        padding: 15px;
        box-shadow: 1px 1px 8px 0px rgba(19, 18, 21, 0.5);
  }

  .full-width {
      width: 100%;
  }

  .margins {
      margin-left: 35px;
      margin-top: 20px;
  }