<div class="panel">
    <tabset>
        <tab heading="{{'details' | translate}}">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Status</label>
                        <br>
                        <mat-form-field>
                            <mat-select matInput [(value)]="item.status">
                                <mat-option *ngFor="let status of statuses" [value]="status">
                                    {{status}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{"itemId" | translate }}</label>
                        <input type="text" class="form-control" name="inputItemId" [(ngModel)]="item.itemId" disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{"itemName" | translate}}</label>
                        <input type="text" class="form-control" name="inputName" [(ngModel)]="item.name" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{"retailPrice" | translate }}</label>
                        <input type="text" class="form-control" name="inputCity" [(ngModel)]="item.retailPrice"
                            required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{"averageCost" | translate }}</label>
                        <input type="text" class="form-control" name="inputAddress" [(ngModel)]="item.avgCost" required
                            disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{"quantityOnHand" | translate}}</label>
                        <input type="text" class="form-control" name="inputContactName" [(ngModel)]="item.quantityOnHand"
                            required disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{"quantityOrdered" | translate }}</label>
                        <input type="text" class="form-control" name="inputPhone" [(ngModel)]="item.quantityOrdered"
                            required disabled>
                    </div>
                </div>
            </div>
            <button class="btn btn-orange" (click)="updateItem()">{{"update" | translate}}</button>
        </tab>
        <tab heading="{{'suppliers' | translate}}">
            <table class="tableFormat">
                <tr>
                    <th>{{"supplier" |translate}}</th>
                    <th>{{"unitCost" | translate}}</th>
                    <th>{{"leadTime" |translate}}</th>
                    <th>{{"primarySupplier" | translate}}</th>
                </tr>
                <tr *ngFor="let itemSupplier of itemSuppliers">
                    <td>{{itemSupplier.supplierName}}</td>
                    <td>{{itemSupplier.unitCost}}</td>
                    <td>{{itemSupplier.leadTime}}</td>
                    <td>{{itemSupplier.isPrimary}}</td>
                </tr>
            </table>
            <button class="btn btn-orange toolBar" (click)="addSupplier()"><i class="fa fa-plus"></i></button>
        </tab>
    </tabset>
</div>