<form [formGroup]="form"  (ngSubmit)="onSubmitChangePassword()">
    <div class="form-group">
      <label>Current password</label>
      <input type="password" class="form-control" formControlName="currentPassword"  [ngClass]="{'is-invalid' : form.get('currentPassword').errors && form.get('currentPassword').touched}">
      <p class="validation-error-message" *ngIf="form.get('currentPassword').hasError('required') && form.get('currentPassword').touched">currentPassword address is required!</p>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control"  formControlName="password" [ngClass]="{'is-invalid' : form.get('password').errors && form.get('password').touched}">
      <p class="validation-error-message" *ngIf="form.get('password').hasError('required') && form.get('password').touched">Password is required!</p>
      <p class="validation-error-message" *ngIf="form.get('password').hasError('minlength') && form.get('password').touched">Password is less than 4 characters!</p>
      <p class="validation-error-message" *ngIf="form.get('password').hasError('maxlength') && form.get('password').touched">Password exceeds 12 characters!</p>
    </div>
    <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" class="form-control"  formControlName="confirmPassword" 
        [ngClass]="{'is-invalid' : form.get('confirmPassword').errors && form.get('confirmPassword').touched || form.get('confirmPassword').touched && form.hasError('mismatch')}" >
        <p class="validation-error-message" *ngIf="form.get('confirmPassword').hasError('required') && form.get('confirmPassword').touched">Confirmation Password is required!</p>
        <p class="validation-error-message" *ngIf="form.hasError('mismatch') && form.get('confirmPassword').touched">Confirmation Password and password DO NOT match!</p>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
  </form>