<div class="panel">
    <tabset>
        <tab heading="{{'order' |translate}}">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{"orderId" |translate}}</label>
                        <input type="text" class="form-control" name="orderId" [(ngModel)]="order.orderId" disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Status</label>
                        <input type="text" class="form-control" name="status" [(ngModel)]="order.status" required
                            disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{"supplierId" | translate}}</label>
                        <input type="text" class="form-control" name="supplierId" [(ngModel)]="order.supplierId"
                            required disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{"supplier" | translate}}</label>
                        <input type="text" class="form-control" name="supplierName" [(ngModel)]="order.supplierName"
                            required disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{"createdBy" | translate}}</label>
                        <input type="text" class="form-control" name="createdById" [(ngModel)]="order.createdBy"
                            required disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{"approvedBy" | translate}}</label>
                        <input type="text" class="form-control" name="approvedById" [(ngModel)]="order.approvedBy"
                            required disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{"requestedDate" | translate}}</label>
                        <input type="text" class="form-control" name="requestedDate" [ngModel]="order.requestedDate | amFromUtc | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm'"
                            (ngModelChange)="order.requestedDate = $event" required disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" *ngIf="order.receivedDate != null"  >
                        <label>{{"receivedDate" | translate}}</label>
                        <input type="text" class="form-control" name="receivedDate" [ngModel]="order.receivedDate | amFromUtc | amLocal | amDateFormat: 'YYYY-MM-DD'" (ngModelChange)="order.receivedDate = $event" required disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{"totalCost" | translate}}</label>
                        <input type="text" class="form-control" name="totalCost" [(ngModel)]="order.totalCost" required
                            disabled>
                    </div>
                </div>
            </div>
            <button class="btn btn-orange" (click)="onApproveOrder()" *ngIf="getStatusOfOrder() ==='Requested'">{{"approve" | translate}}</button>
            <button class="btn btn-orange" (click)="onReceiveOrder()" *ngIf="getStatusOfOrder() ==='Approved'">{{"receive" | translate}}</button>
            <button class="btn btn-blue" (click)="onDeleteOrder()" *ngIf="isDeletableOrder()">{{"delete" | translate }}</button>

        </tab>
        <tab heading="{{'items' | translate}}">
            <app-order-items [order]="order"></app-order-items>
        </tab>
    </tabset>
</div>