<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>{{"fillOutSupp" | translate}}</ng-template>
      <mat-form-field>
        <input matInput placeholder="{{'supplier' | translate}}" formControlName="nameCtrl" required>
      </mat-form-field>
      <div>
        <button class="btn btn-orange" matStepperNext>{{"next" | translate}}</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>{{"fillOutSuppAdd" | translate}}</ng-template>
      <mat-form-field>
        <input matInput placeholder="{{'city' | translate}}" formControlName="cityCtrl" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="{{'address' | translate}}" formControlName="addressCtrl" required>
      </mat-form-field>
      <div>
        <button class="btn btn-orange" matStepperNext>{{"next" | translate}}</button>
        <button class="btn btn-blue" matStepperPrevious>{{"back" |translate}}</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>{{"fillOutSuppCont" | translate}}</ng-template>
      <mat-form-field>
        <input matInput placeholder="{{'contactPerson' | translate}}" formControlName="contactNameCtrl" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="{{'phone' | translate}}" formControlName="phoneCtrl" pattern="^[0-9]*$" required>
      </mat-form-field>
      <div>
        <button class="btn btn-orange" matStepperNext>{{"next" | translate}}</button>
        <button class="btn btn-blue" matStepperPrevious>{{"back" | translate}}</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>{{"done" | translate}}</ng-template>
    {{"nowDone" | translate}}
    <div>
      <button class="btn btn-orange" (click)="addNewSupplier()" matStepperNext>{{"add" | translate}}</button>
      <button class="btn btn-blue" matStepperPrevious>{{"back" | translate}}</button>
      <button class="btn btn-blue" (click)="stepper.reset()">{{"reset" |translate}}</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>