<div class="row">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
        <div class="form-group">
            <label>{{"emailAddress" | translate}}</label>
            <input type="email" class="form-control" formControlName="email" placeholder="{{'emailAddress' | translate}}"
                [ngClass]="{'is-invalid' : registerForm.get('email').errors && registerForm.get('email').touched}">
            <p class="validation-error-message" *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched">{{"emailAddress"
                | translate}} {{"isRequired" | translate}}</p>
            <p class="validation-error-message" *ngIf="registerForm.get('email').hasError('email') && registerForm.get('email').touched">{{"emailFormatRequired"
                | translate }}</p>
        </div>
        <div class="form-group">
            <label>{{"firstName" | translate}}</label>
            <input type="text" class="form-control" formControlName="firstName" placeholder="{{'firstName' | translate}}"
                [ngClass]="{'is-invalid' : registerForm.get('firstName').errors && registerForm.get('firstName').touched}">
            <p class="validation-error-message" *ngIf="registerForm.get('firstName').hasError('required') && registerForm.get('firstName').touched">{{"firstName"
                | translate}} {{"isRequired" | translate}}</p>
            <p *ngIf="registerForm.get('firstName').dirty">({{"defaultPassword" | translate}})</p>
        </div>
        <div class="form-group">
            <label>{{"lastName" | translate}}</label>
            <input type="text" class="form-control" formControlName="lastName" placeholder="{{'lastName' | translate}}"
                [ngClass]="{'is-invalid' : registerForm.get('lastName').errors && registerForm.get('lastName').touched}">
            <p class="validation-error-message" *ngIf="registerForm.get('lastName').hasError('required') && registerForm.get('lastName').touched">{{"lastName"
                | translate}} {{"isRequired" | translate}}</p>
        </div>
        <div class="form-group">
            <label>{{"dateOfBirth" | translate }}</label>
            <br>
            <mat-form-field>
                <input matInput formControlName="dateOfBirth" [matDatepicker]="picker" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <p class="validation-error-message" *ngIf="registerForm.get('dateOfBirth').hasError('required') && registerForm.get('dateOfBirth').touched">{{"dateOfBirth"
                | translate}} {{"isRequired" | translate}}</p>
        </div>
        <div class="form-group">
            <label>{{"salary" | translate}}</label>
            <input pattern="^[1-9]+[0-9]*$" type="number" class="form-control" formControlName="salary" placeholder="{{'salary' | translate}}"
                [ngClass]="{'is-invalid' : registerForm.get('salary').errors && registerForm.get('salary').touched}">
            <p class="validation-error-message" *ngIf="registerForm.get('salary').hasError('required') && registerForm.get('salary').touched">{{"salary"
                | translate}} {{"isRequired" | translate}}</p>
        </div>
        <div class="form-group">
            <label>{{"position" |translate}}</label>
            <br>
            <mat-form-field>
                <mat-select matInput placeholder="{{'chooseOne' | translate}}" formControlName="position">
                    <mat-option *ngFor="let position of positions" [value]="position">
                        {{position.positionName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>
        <button type="submit" class="btn btn-orange">{{"submit" | translate}}</button>
    </form>
</div>