<div class="panel">
    <div class="row">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
        <div class="form-group">
          <label>Email address</label>
          <input type="email" class="form-control" formControlName="emailAddress" placeholder="Enter email" [ngClass]="{'is-invalid' : registerForm.get('emailAddress').errors && registerForm.get('emailAddress').touched}">
          <p class="validation-error-message" *ngIf="registerForm.get('emailAddress').hasError('required') && registerForm.get('emailAddress').touched">Email address is required!</p>
          <p class="validation-error-message" *ngIf="registerForm.get('emailAddress').hasError('email') && registerForm.get('emailAddress').touched">The format of the provided e-mail address is NOT correct!</p>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control"  formControlName="password"  placeholder="Password" [ngClass]="{'is-invalid' : registerForm.get('password').errors && registerForm.get('password').touched}">
          <p class="validation-error-message" *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">Password is required!</p>
          <p class="validation-error-message" *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched">Password is less than 4 characters!</p>
          <p class="validation-error-message" *ngIf="registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched">Password exceeds 12 characters!</p>
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control"  formControlName="confirmPassword"  placeholder="Confirm Password" 
            [ngClass]="{'is-invalid' : registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').touched || registerForm.get('confirmPassword').touched && registerForm.hasError('mismatch')}" >
            <p class="validation-error-message" *ngIf="registerForm.get('confirmPassword').hasError('required') && registerForm.get('confirmPassword').touched">Confirmation Password is required!</p>
            <p class="validation-error-message" *ngIf="registerForm.hasError('mismatch') && registerForm.get('confirmPassword').touched">Confirmation Password and password DO NOT match!</p>
        </div>
        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" formControlName="firstName"  placeholder="Enter First name"[ngClass]="{'is-invalid' : registerForm.get('firstName').errors && registerForm.get('firstName').touched}" >
            <p class="validation-error-message" *ngIf="registerForm.get('firstName').hasError('required') && registerForm.get('firstName').touched">First Name is required!</p>
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" formControlName="lastName"  placeholder="Enter Last name" [ngClass]="{'is-invalid' : registerForm.get('lastName').errors && registerForm.get('lastName').touched}" >
            <p class="validation-error-message" *ngIf="registerForm.get('lastName').hasError('required') && registerForm.get('lastName').touched">Last Name is required!</p>
        </div>
        <div class="form-group">
            <label>Date Of Birth</label>
            <input type="text" class="form-control" formControlName="dateOfBirth" placeholder="Enter Birthdate" [ngClass]="{'is-invalid' : registerForm.get('dateOfBirth').errors && registerForm.get('dateOfBirth').touched}">
        </div>
        <div class="form-group">
            <label>Salary</label>
            <input type="text" class="form-control" formControlName="salary" placeholder="Enter Salary" [ngClass]="{'is-invalid' : registerForm.get('salary').errors && registerForm.get('salary').touched}">
        </div>
        <div class="form-group">
            <label>Position</label>
            <br>
            <mat-form-field>
                <mat-select matInput placeholder="Choose one" formControlName="position">
                    <mat-option *ngFor="let position of positions" [value]="position">
                      {{position.positionName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
</div>
  