<div class="container">
    <div class="row">
      <form #registerForm="ngForm" (ngSubmit)="submit()" class="register-form">
        <div class="form-group">
          <label>Email address</label>
          <input type="email" class="form-control" name="inputEmail" [(ngModel)]="employeeToRegister.email" placeholder="Enter email" required email>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control"  name="inputPassword" [(ngModel)]="employeeToRegister.password" placeholder="Password" required>
        </div>
        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" name="inputFirstName" [(ngModel)]="employeeToRegister.firstName" placeholder="Enter First name" required>
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" name="inputLastName" [(ngModel)]="employeeToRegister.lastName" placeholder="Enter Last name" required>
        </div>
        <div class="form-group">
            <label>Date Of Birth</label>
            <input type="text" class="form-control" name="inputBirthdate" [(ngModel)]="employeeToRegister.birthdate" placeholder="Enter Birthdate" required>
        </div>
        <div class="form-group">
            <label>Salary</label>
            <input type="text" class="form-control" name="inputSalary" [(ngModel)]="employeeToRegister.salary" placeholder="Enter Salary" required>
        </div>
        <div class="form-group">
            <label>Position</label>
            <select class="form-control" name="selectPosition" [(ngModel)]="position" required>
              <option *ngFor="let pos of positions">{{pos.positionName}}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  