<div class="panel">
    <div class="row">
        <div class="col-md-6">
           <div class="form-group">
               <label>Status</label>
               <br>
               <mat-form-field>
                   <mat-select matInput [(value)]="supplier.status">
                       <mat-option *ngFor="let status of statuses" [value]="status">
                         {{status}}
                       </mat-option>
                   </mat-select>
               </mat-form-field>
           </div>
        </div>
        <div class="col-md-6">
           <div class="form-group">
           </div>
        </div>
      </div>

   <div class="row">
     <div class="col-md-6">
        <div class="form-group">
            <label>{{"supplier"| translate }} Id</label>
            <input type="text" class="form-control" name="inputSupplierId" [(ngModel)]="supplier.supplierId" required disabled>
        </div>
     </div>
     <div class="col-md-6">
        <div class="form-group">
            <label>{{"supplierName" | translate}}</label>
            <input type="text" class="form-control" name="inputName" [(ngModel)]="supplier.name"  required>
        </div>
     </div>
   </div>
   <div class="row">
      <div class="col-md-6">
         <div class="form-group">
             <label>{{"city" |translate}}</label>
             <input type="text" class="form-control" name="inputCity" [(ngModel)]="supplier.city" required>
         </div>
      </div>
      <div class="col-md-6">
         <div class="form-group">
             <label>{{"address" |translate}}</label>
             <input type="text" class="form-control" name="inputAddress" [(ngModel)]="supplier.address" required>
         </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6">
           <div class="form-group">
               <label>{{"contactPerson" |translate}}</label>
               <input type="text" class="form-control" name="inputContactName" [(ngModel)]="supplier.contactName" required>
           </div>
        </div>
        <div class="col-md-6">
           <div class="form-group">
               <label>{{"phone"|translate}}</label>
               <input type="text" class="form-control" name="inputPhone" [(ngModel)]="supplier.phoneNumber" required>
           </div>
        </div>
      </div>
      <button class="btn btn-primary" (click)="updateSupplier()">{{"update"|translate}}</button>
</div>
