<button class="btn btn-orange toolBar" (click)="onSaveChanges()" *ngIf="changeOccured" [disabled]="getStatusOfOrder() === 'Requested' ? false : true">{{"saveChanges" | translate}}</button>
<table class="tableFormat">
    <tr>
        <th>{{"itemId" | translate}}</th>
        <th>{{"itemName" | translate}}</th>
        <th>{{"unitCost" | translate}}</th>
        <th>{{"quantityOrdered" | translate}}</th>
        <th>{{"totalCost" | translate}}</th>
    </tr>
    <tr *ngFor="let orderItem of orderItems">
        <td>{{orderItem.itemId}}</td>
        <td>{{orderItem.itemName}}</td>
        <td>{{orderItem.unitCost}}</td>
        <td>{{orderItem.quantity}}</td>
        <td>{{orderItem.totalCost}}</td>
        <button class="btn btn-blue" (click)="onDeleteItem(orderItems)" [disabled]="getStatusOfOrder() === 'Requested' ? false : true">{{"delete" | translate}}</button>
    </tr>
</table>
<div class="row">
    <h6>{{"order" | translate}} {{"totalCost" | translate}}: {{getOrderTotalCost()}}</h6>
</div>
<button class="btn btn-orange toolBar" (click)="onAddItem()" [disabled]="getStatusOfOrder() === 'Requested' ? false : true"><i
        class="fa fa-plus"></i></button>