<button class="btn btn-primary toolBar" (click)="onSaveChanges()" *ngIf="changeOccured">Save Changes</button>
<table>
  <tr>
      <th>Item Id</th>
      <th>Item Name</th>
      <th>Unit Cost</th>
      <th>Quantity</th>
      <th>Total Cost</th>
  </tr>
  <tr *ngFor="let orderItem of orderItems">
      <td>{{orderItem.itemId}}</td>
      <td>{{orderItem.itemId}}</td>
      <td>{{orderItem.unitCost}}</td>
      <td>{{orderItem.quantity}}</td>
      <td>{{orderItem.totalCost}}</td>
      <button class="btn btn-danger" (click)="onDeleteItem(orderItems)" [disabled]="getStatusOfOrder() === 'Approved' ? true : false">Delete</button>
  </tr>
  <tr>
      <th>Order Total Cost:</th>
      <th>{{getOrderTotalCost()}}</th>
  </tr>
</table>
<button class="btn btn-primary toolBar" (click)="onAddItem()" [disabled]="getStatusOfOrder() === 'Approved' ? true : false"><i class="fa fa-plus"></i></button>