<div class="toolBar">
  <button class="btn btn-primary" (click)="createEmployee()"><i class="fa fa-plus"></i></button>
</div>
<div class="row">     
  <div class="mat-elevation-z8 full-width" [class.col-md-4]="selectedEmployee">
      <mat-form-field class="margins">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
  
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"firstName" | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"lastName" | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"position" | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.positionName}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onEmployee(row)" [class.selected]="row === selectedEmployee"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  <div class="col-md-6">
    <app-employee-detail *ngIf="selectedEmployee" [employee]="selectedEmployee" (employeeUpdatedEvent)="employeeUpdatedInDetailComponent($event)" ></app-employee-detail>
  </div>
</div>



<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->