<mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Select Supplier</ng-template>
          <mat-form-field>
              <mat-select matInput placeholder="Choose one" formControlName="supplierCtrl" required>
                  <mat-option *ngFor="let supplier of suppliers" [value]="supplier">
                    {{supplier.name}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Lead Time" formControlName="leadTimeCtrl" pattern="^[1-9]+[0-9]*$" required>
          </mat-form-field>
          <div>
              <button class="btn btn-orange" matStepperNext>Next</button>
              <button class="btn btn-orange" matStepperPrevious>Back</button> 
          </div>
        </form>
      </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out Item name</ng-template>
      <mat-form-field>
        <input matInput placeholder="Item name" formControlName="nameCtrl" required>
      </mat-form-field>
      <div>
        <button class="btn btn-orange" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Fill out Retail price and Unit Cost</ng-template>
      <mat-form-field>
          <input matInput placeholder="Retail Price" formControlName="retailPriceCtrl" pattern="^[1-9]+[0-9]*$" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Unit Cost" formControlName="unitCostCtrl" pattern="^[1-9]+[0-9]*$" required>
      </mat-form-field>
      <div>
        <button class="btn btn-orange" matStepperNext>Next</button>
        <button class="btn btn-orange" matStepperPrevious>Back</button>        
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
        <button class="btn btn-success" (click)="addNewItem()" matStepperNext>Add</button>
        <button class="btn btn-orange" matStepperPrevious>Back</button> 
      <button class="btn btn-danger" (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>